<a href="https://colab.research.google.com/github/kaviyakrishnamoorthy/task1/blob/main/Chitfundtask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A chit fund has 25 members. Each month they contribute Rs 2000 each. End of the month, the
person who bids the lowest for the corpus, gets his bid. The group organizer gets paid a fixed
commission of Rs 2500 each month (5% of 25*2000).It is deducted from the bid winner's
corpus. The remaining amount is distributed among all the 25 customers equally.Enclosed
excel has the table with cashflows for each month.


Task :
• What is the Annualized Return of the person who bids in the last month ?
• What is the Annualized Return of the person who bids in the first month ?
• Write an R/Python script which calculates the annualized return of chit fund participant ?-
Show the Return % for each month's bid winner.

In [88]:
#import the required libraries
import numpy as np
import pandas as pd

In [5]:
cd sample_data

/content/sample_data

In [ ]:
#read .xlsx file and conevrt it into .cv format

In [8]:
read_file = pd.read_excel("Exercise Data.xlsx")

In [89]:
read_file.to_csv ("input.csv")

In [71]:
#craete a dataframe and read the data
df = pd.DataFrame(pd.read_csv("input.csv"))

In [72]:
df

    Month  ...  Amount returned to everyone in the group
0       1  ...                                       400
1       2  ...                                       320
2       3  ...                                       200
3       4  ...                                        80
4       5  ...                                       400
5       6  ...                                       320
6       7  ...                                       280
7       8  ...                                       240
8       9  ...                                       400
9      10  ...                                       320
10     11  ...                                       200
11     12  ...                                        80
12     13  ...                                       400
13     14  ...                                       320
14     15  ...                                       280
15     16  ...                                       280
16     17  ...                                       360
17     18  ...                                       320
18     19  ...                                       200
19     20  ...                                       200
20     21  ...                                       240
21     22  ...                                       160
22     23  ...                                       120
23     24  ...                                        80
24     25  ...                                         0

[25 rows x 6 columns]

In [73]:
#calculate total return
bid_return = np.array(df['Net amount recd by Bid winner'])
each_month_return = np.array(df['Amount returned to everyone in the group'])
for i in each_month_return:
  bid_return += i
print("total return",bid_return)

total return [43700 45700 48700 51700 43700 45700 46700 47700 43700 45700 48700 51700
 43700 45700 46700 46700 44700 45700 48700 48700 47700 49700 50700 51700
 53700]

In [74]:
#add the final result to the dataframe
df["total return"]=bid_return

In [76]:
#Annual Return
temp = bid_return * (12/25)
print("annaulized return",temp)

annaulized return [20976. 21936. 23376. 24816. 20976. 21936. 22416. 22896. 20976. 21936.
 23376. 24816. 20976. 21936. 22416. 22416. 21456. 21936. 23376. 23376.
 22896. 23856. 24336. 24816. 25776.]

In [77]:
#add the final result to the dataframe
df["Annaulized return"]=temp

In [79]:
#Return % for each month's bid winner
temp1 = bid_return * (100 / 50000)
print("Return % for each month's bid winner",temp1)

Return % for each month's bid winner [ 87.4  91.4  97.4 103.4  87.4  91.4  93.4  95.4  87.4  91.4  97.4 103.4
  87.4  91.4  93.4  93.4  89.4  91.4  97.4  97.4  95.4  99.4 101.4 103.4
 107.4]

In [80]:
#add the final result to the dataframe
df['Return % each months bid winner']=temp1

In [81]:
df

    Month  Contribution  ...  Annaulized return  Return % each months bid winner
0       1          2000  ...            20976.0                             87.4
1       2          2000  ...            21936.0                             91.4
2       3          2000  ...            23376.0                             97.4
3       4          2000  ...            24816.0                            103.4
4       5          2000  ...            20976.0                             87.4
5       6          2000  ...            21936.0                             91.4
6       7          2000  ...            22416.0                             93.4
7       8          2000  ...            22896.0                             95.4
8       9          2000  ...            20976.0                             87.4
9      10          2000  ...            21936.0                             91.4
10     11          2000  ...            23376.0                             97.4
11     12          2000  ...            24816.0                            103.4
12     13          2000  ...            20976.0                             87.4
13     14          2000  ...            21936.0                             91.4
14     15          2000  ...            22416.0                             93.4
15     16          2000  ...            22416.0                             93.4
16     17          2000  ...            21456.0                             89.4
17     18          2000  ...            21936.0                             91.4
18     19          2000  ...            23376.0                             97.4
19     20          2000  ...            23376.0                             97.4
20     21          2000  ...            22896.0                             95.4
21     22          2000  ...            23856.0                             99.4
22     23          2000  ...            24336.0                            101.4
23     24          2000  ...            24816.0                            103.4
24     25          2000  ...            25776.0                            107.4

[25 rows x 9 columns]

In [ ]:
#results

In [82]:
 print('Annualized  Return of the person who bids in the last month: {}'.format(list(df['Annaulized return'])[-1]))

Annualized  Return of the person who bids in the last month: 25776.0

In [83]:
print('Annualized Return of the person who bids in the first month is: {}'.format(list(df['Annaulized return'])[0]))

Annualized Return of the person who bids in the first month is: 20976.0

In [87]:
print("Return % for each month's bid winner",df['Return % each months bid winner'])

Return % for each month's bid winner 0      87.4
1      91.4
2      97.4
3     103.4
4      87.4
5      91.4
6      93.4
7      95.4
8      87.4
9      91.4
10     97.4
11    103.4
12     87.4
13     91.4
14     93.4
15     93.4
16     89.4
17     91.4
18     97.4
19     97.4
20     95.4
21     99.4
22    101.4
23    103.4
24    107.4
Name: Return % each months bid winner, dtype: float64